coqui-tts==0.27.5
librosa==1.0.0
matplotlib==3.11.2
numpy==2.5.3
packaging==26.3
python-dotenv==1.2.3
setuptools==84.0.0
sounddevice==0.5.6
soundfile==0.14.0
torch==2.14.0
torchaudio==2.11.0
torchcodec==0.16.0
transformers==4.57.6
wheel==0.48.0
